@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @apply transition-colors duration-200;
}

body {
  font-family: "Funnel Display", serif;
  scroll-behavior: smooth;
  @apply dark:bg-zinc-950;
}

label {
  @apply block text-sm font-medium dark:text-gray-100;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  @apply border border-neutral-200 focus:outline-neutral-300 px-3 py-2 rounded-md w-full dark:bg-transparent dark:border-[#393939] dark:focus:outline-zinc-400 dark:focus:border-none dark:text-white;
}

.btn-primary {
  @apply bg-zinc-900 hover:bg-zinc-900/90 shadow cursor-pointer text-white text-sm font-semibold px-4 py-3 rounded-md dark:bg-white dark:text-black dark:hover:bg-white/90;
}

.tiptap {
  @apply rounded-b-md min-h-72 p-2 border-2 outline-none dark:text-gray-100 dark:border-gray-500;
}

.tiptap-toolbar {
  @apply p-2 border-2 outline-none dark:border-gray-500;
}

.is-active {
  @apply bg-zinc-600 dark:bg-zinc-300 text-white dark:text-black p-1 rounded-md;
}

.blog-image {
  margin: 1rem 0;
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

/* Basic editor styles */
.tiptap {
  :first-child {
    margin-top: 0;
  }

  /* List styles */
  ul,
  ol {
    padding: 0 16px;
    margin: 20px 16px 20px 6.4px;

    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  img {
    display: block;
    height: auto;
    max-width: 100%;
  }

  &.ProseMirror-selectednode {
    outline: 3px solid red;
  }

  ol {
    list-style: decimal;
  }
  ul {
    list-style: disc;
  }

  /* Heading styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    margin-top: 40px;
    text-wrap: pretty;
    font-weight: bold;
  }

  h1,
  h2 {
    margin-top: 56px;
    margin-bottom: 24px;
  }

  h1 {
    @apply text-[34px] font-extrabold;
  }

  h2 {
    @apply text-xl md:text-2xl font-bold;
  }

  h3 {
    font-size: 18.72px;
    @apply font-bold;
  }

  h4 {
    font-size: 16px;
    @apply font-semibold;
  }

  h5 {
    font-size: 13.28px;
    @apply font-semibold;
  }

  h6 {
    font-size: 10.72px;
    @apply font-medium;
  }

  u {
    @apply underline-offset-1;
  }

  pre {
    background: #2e2b29;
    border-radius: 8px;
    color: #fff;
    font-family: "JetBrainsMono", monospace;
    margin: 24px 0;
    padding: 12px 16px;

    code {
      background: none;
      color: inherit;
      font-size: 12.8px;
      padding: 0;
    }
  }

  blockquote {
    border-left: 3px solid gray;
    font-style: italic;
    margin: 24px 0;
    padding-left: 16px;
  }

  hr {
    border: 0.0625rem solid #d5d2d2;
    border-top: 1px solid var(--gray-2);
    margin: 32px 0;
  }
}
